.header {
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.menu {
    display: flex;

}

.menu-list {
    padding-left: 45px;
    overflow-x: hidden;
    font-size: 18px;


}

.menu-link {
    text-decoration: none;
    color: #151618;
}

.block {
    display: flex;
}

.images-fon {
    width: 100%;
    height: 500px;
    max-height: 500px;
}

.containerinfo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.newblock {
    background-color: #FFFFFF;
    padding-bottom: 90px;
}

.navtwo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.textt {
    padding: 70px;
    text-align: center;
}

.parag {
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
}

.menuteaone {
    padding-left: 60px;
}

.menutea {
    display: flex;
}

.menu-link,
li {
    list-style-type: none;
}

.menu-links {
    padding-left: 80px;
    text-decoration: none;
    color: #151618;
}

.newblocks {
    background-color: #F7F2EA;
}

.newnavs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.oglavs {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.spisok {
    display: flex;
    padding-left: 130px;
}

.class-spisok {
    padding-left: 20px;
    padding-bottom: 10px;
}

.newnavs1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.oglavs1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.imagestext {
    display: flex;
}

.buttonblog {
    border: none;
    background: none;
    text-decoration: none;
    color: #151618;
}

.spisokmenuimg {
    padding-left: 30px;
}